/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */
:root {
  --primary: #1277e5;
  --secondary: #7cef69;
  --bg: #efefef;
  --text: #393939;
  --accent: #cf3732;
}

/* My Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #9b9b9b;
}

/* Container */
.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}

/* Flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.align-start {
  align-items: flex-start;
}
.wrap {
  flex-wrap: wrap;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-23 {
  flex: 0 1 23%;
}
/* Buttons */
.btn {
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  border-radius: 32px;
  box-shadow: none;
  outline: 0;
  border: 0;
}
.btn-primary {
  background-color: var(--accent);
  color: #efefef;
}
.btn-primary:hover {
  color: #ffffff !important;
}
.btn-secondary {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.btn-tertiary {
  background-color: var(--bg);
  color: var(--text);
  margin-top: 32px;
}
.btn-secondary:hover,
.btn-tertiary:hover {
  background-color: var(--accent);
  color: #ffffff;
}
.btn-secondary:hover {
  border-color: var(--accent);
}
/* Headings */
.sec-header {
  margin-bottom: 24px;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 4px;
}
/* Texts */
.text {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 12px;
}
.text-center {
  text-align: center;
}
.font-0 {
  font-size: 0;
}
/* Dots */
.dot {
  width: 10px;
  height: 10px;
  background-color: #d8d8d8;
  margin-right: 4px;
  display: inline-block;
}
/* Flexible Image */
.flexible-img {
  width: 100%;
  height: auto;
}
/* Padding */
.padding {
  padding: 80px 0;
}
/* Navigation Bar */
.navbar {
  padding: 16px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.brand {
  font-size: 32px;
  margin-right: 160px;
  color: #ffffff;
}
.nav-menu a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
.nav-menu a:hover {
  color: var(--accent);
}
.nav-menu li {
  margin-left: 32px;
}
.social-media-item a {
  font-size: 16px;
}

.hero {
  height: 100vh;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(
      to right,
      rgba(19, 120, 228, 0.7),
      rgba(126, 243, 102, 0.7)
    ),
    url("https://github.com/s07/TA-FRONTEND-why-react-TRaaaa/blob/block-BRaaav/block-BRaaav/code/assets/media/home-bg.jpg?raw=true")
      center center no-repeat;
  background-size: cover;
}

.hero-content {
  padding-right: 100px;
}

.hero-heading {
  font-size: 48px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 32px;
}
.enquiry {
  margin-left: 32px;
}

/* About */
.about {
  position: relative;
}
.progress {
  padding: 0 44px;
}
.progress-item {
  margin-bottom: 24px;
}
.progress-item h3 {
  color: var(--text);
  font-weight: 500;
}
.progress-item p {
  color: var(--text);
}
progress {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bg);
}
progress::-webkit-progress-bar {
  background-color: var(--bg);
}
progress::-webkit-progress-value {
  background-color: var(--text);
}

.about-img {
  position: absolute;
  width: 20%;
  bottom: 0;
}

/* Blog */
.blog {
  background-color: var(--bg);
}

.article {
  background-color: #ffffff;
  margin: 24px 0;
}
.article-content {
  padding: 32px;
}
.article time {
  color: var(--accent);
  font-size: 14px;
}
.article time i {
  margin-right: 8px;
}
.article h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--text);
  margin: 12px 0;
  text-transform: capitalize;
}

/* Work */
.work img {
  border-radius: 6px;
}

/* Contact */
.contact {
  background: linear-gradient(to right, var(--primary), var(--secondary));
}
.contact .heading {
  color: #ffffff;
}
.form-control {
  display: block;
  width: 100%;
  color: var(--text);
  padding: 16px 12px;
  background-color: #ffffff;
  border: 0;
  border-radius: 6px;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
}
.contact .btn {
  margin-top: 32px;
}
.map {
  text-align: center;
}
.map iframe {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
/* Footer */
.footer {
  background: linear-gradient(to right, #424242, #010101);
}
.footer h3 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer p,
.footer a,
.footer address {
  color: #ffffff;
}
.footer a:hover {
  color: var(--accent);
}
.footer hr {
  margin-top: 32px;
  border: 0;
  border-top: 1px solid #5a5a5a;
}
.footer-additional-info {
  padding-top: 32px;
  color: #ffffff;
  padding-right: 120px;
}
.footer-additional-info p {
  margin-right: 32px;
}
.footer-additional-info li {
  margin-left: 32px;
}
